footer {
  p {
    text-align: justify;
  }
  .social {
    max-width: 23.4rem;
    width: 100%;
    a {
      &:first-child {
        margin-inline-start: 0 !important;
      }
      &:last-child {
        margin-inline-end: 0 !important;
      }
    }
    nav {
      border-radius: 2.4rem;
    }
  }

  .footer-nav {
    row-gap: 1.5rem;
    column-gap: 3.7rem;
    .nav-link {
      width: 25%;
      padding: 0 1.5rem;
      height: 3.2rem;
      background-color: #606aa5;
      transition: background-color 0.25s ease-in;
      &:hover,
      &:focus {
        background-color: color(accent-red);
      }
    }
  }

  .dropdown {
    &-toggle {
      width: 10rem;
      border-radius: 1.8rem;
      background-color: #606aa5;
      &::after {
        vertical-align: 0.1rem;
      }
    }
    &-menu {
      border-radius: 1.8rem;
      background-color: #606aa5;
    }
    &-item {
      font-size: 2rem;
      &:hover,
      &:focus {
        background-color: rgba($accent-dark, 0.5);
      }
    }
  }
}

.copyrights {
  padding-top: 10rem;
  a {
  }
}
