header {
  .nav-search {
    padding: 6rem 0;
  }
  .dropdown-toggle::after {
    content: unset;
  }
}

.logo {
  top: 30%;
  display: inline-block;
  height: 16rem;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.navbar {
  margin-inline-start: 24.5rem;
  margin-inline-end: 14rem;
  .dropdown {
    &-item {
      font-size: 2rem;
      transition: color 0.25s ease-in, background-color 0.25s ease-in;
      &:hover {
        color: color(accent-dark);
        background-color: rgba($accent-dark, 0.1);
      }
    }
  }
}

.nav-link {
  padding: 1.8rem 1rem;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    top: unset;
    width: 100%;
    height: 0.3rem;
    background-color: color(accent-dark);
    transform: scale(0);
    transition: transform 0.35s ease-in;
  }
  &:hover,
  &:focus {
    &::after {
      transform: scale(1);
    }
  }
}
