/* ========== Colors ========== */
$white: #ffffff;
$grey: #e5e5e5;
$accent-light: #8f97cc;
$accent-red: #c0272d;
$accent-dark: #2b3887;
$gradient-green: #39b54a;
$gradient-blue: #29abe2;

@function color($name) {
  @return var(--color-#{$name});
}

:root {
  --color-white: #ffffff;
  --color-grey: #e5e5e5;
  --color-accent-light: #8f97cc;
  --color-accent-red: #c0272d;
  --color-accent-dark: #2b3887;
  --color-gradient-green: #39b54a;
  --color-gradient-blue: #29abe2;
}

/* ========== Fonts ========== */

@font-face {
  font-family: "DinNextLt";
  src: url("../fonts/din-next-lt-w23-regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "DinNextLt";
  src: url("../fonts/din-next-arabic-bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Tajawal";
  src: url("../fonts/Tajawal-Bold.ttf");
  font-weight: 700;
}

// Responsive breakpoints
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Extra small devices (landscape phones, 280px and up)
$xs-phones: 445px;
// Small devices (landscape phones, 576px and up)
$phones: 576px;
// Medium devices (tablets, 768px and up)
$tablets: 768px;
// Large devices (desktops, 992px and up)
$desktops: 992px;
// Extra large devices (large desktops, 1200px and up)
$HD: 1200px;
